@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family:'Poppins', sans-serif;
}
/* Navbar */
.qr__icon {
  background: rgb(73,134,53);
  background: linear-gradient(180deg, rgba(73,134,53,1) 0%, rgba(88,214,12,1) 67%, rgba(47,180,112,1) 90%);
}

.qr-btn {
  width: 150px;
  height: 62px;
}

.navbar-bg {
  background-image: url('../assets/Subtract.png');
  background-repeat:no-repeat;
  background-size: cover;
}

/* Home */
.home__bg {
  background: linear-gradient(53.24deg, #00FFA3 54.55%, rgba(0, 240, 255, 0) 139.12%);
  background-blend-mode: darken;
}
.home__contents {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

/* Leaderboards */
.leaderboard__bg {
  background: rgb(166,215,149);
  background: linear-gradient(180deg, rgba(166,215,149,1) 0%, rgba(132,221,79,1) 12%, rgba(214,250,232,1) 90%);
}

/* To change qr box scanner */
.qr-box > section > div {
  box-shadow: white 0px 0px 0px 3px inset !important;
}
/* Table */
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* Profile Background for photo */
.profile-bg {
  background-image: url('../assets/Rectangle_44.png');
  background-position: start;
  background-repeat: no-repeat;
}
.profile-admin-bg {
  background-image: url('../assets/Rectangle_44.png');
  background-position: start;
  background-repeat: no-repeat;
  background-size: cover;
}
/* leaderboard bg */
.leaderboard-bg {
  background-image: url('../assets/Rectangle_72.png');
  background-position: start;
  background-repeat: no-repeat;
}

.swiper {
  z-index: 0 !important;
}
.swiper-slide {
  display:grid !important;
  height: 190px !important;
}
.swiper-wrapper {
  display:flex;
  z-index: 0;
}

/* Learn Page */
.community-bg {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../assets/community-bg.png');
  background-repeat:no-repeat;
}
.three-r-bg {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../assets/3r-bg.png');
  background-repeat:no-repeat;
} 