@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family:'Poppins', sans-serif;
}
/* Navbar */
.qr__icon {
  background: rgb(73,134,53);
  background: linear-gradient(180deg, rgba(73,134,53,1) 0%, rgba(88,214,12,1) 67%, rgba(47,180,112,1) 90%);
}

/* Home */
.home__bg {
  background: rgb(77,115,64);
  background: linear-gradient(90deg, rgba(77,115,64,1) 0%, rgba(103,176,59,1) 43%, rgba(51,207,127,1) 90%);
}
.home__contents {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}